<h2>My Gravatar</h2>

<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="gravatarEmail">Email address</label>
        {{input type="email" value=gravatarEmail class="form-control" id="gravatarEmail" placeholder="Your Gravatar email"}}
      </div>
      <button {{action "pixelfyImage"}} class="btn btn-primary">
        Pixelfy me!
      </button>
      <p class="gravatar-preview"><strong>Preview:</strong></p>
      <img class="gravatar-preview-image" {{bind-attr src=gravatarUrl}}>
    </form>
  </div>

  <div class="col-md-8">
    <div class="row pixelizer-controls">
      <div class="col-md-9 slider-controls">
        {{x-slider value=pixelatePercentage}}
      </div>
      <div class="col-md-3">
        <button class="btn btn-default pull-right" {{action "downloadImage"}}>
          Download me!
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{pixelate-image src=base64Url value=pixelatePercentage}}
      </div>
    </div>
  </div>
</div>
